<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">>
<head>
    <link th:href="@{/css/orders.css}" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="content">

    <div class="container table-wrap">
        <div class="card">
            <div class="card-header">
                <h4>Заказы</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>
                            <div class="sort-th">Имя клиента
                                <a class="sort-a" th:href="@{/orders(
                            number_of_rows=${orderPage.getNumberOfRows()},
                            sorting=${'customerName'},
                            asc=${asc != null ? !asc : true})}">
                                    <img class="sort-image" src="/images/icons/sort.png">
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="sort-th">Список товаров

                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderPage.getCurrentPageElements()}">
                        <td th:text="${order.getId()}"></td>
                        <td th:text="${order.getCustomer().getFirstName() + ' ' + order.getCustomer().getLastName()}"></td>
                        <td>
                            <form th:action="@{/orders/{id}/products(
                            id=${order.getId()})}" method="post">
                                <button type="submit" class="btn btn-link" th:text="${'Товары (' + order.getProducts().size() + ')'}"></button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/orders/delete_order/{id}(
                            id=${order.getId()},
                               number_of_rows=${orderPage.getNumberOfRows()},
                               page_number=${orderPage.getPageNumber()},
                               sorting=${sorting},
                               asc=${asc})}" method="post">
                                <button type="submit" class="btn btn-link">Удалить</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="${'/orders/update_order/' + order.getId()}" method="get">
                                <button type="submit" class="btn btn-link">Изменить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form th:action="@{/orders(
                               sorting=${sorting},
                               asc=${asc})}" method="post">
                <nav class="container nav-pages-pagination">
                    <label id="total-rows-label">Всего строк: [[${orderPage.getTotalRows()}]]</label>
                    <label id="numbers-of-rows-label">Количество строк: </label>
                    <select name="number_of_rows" id="page-number-select"
                            class="form-select form-select-sm page-number-select">
                        <option th:selected="${orderPage.getNumberOfRows() <= 5}"
                                value="5">5
                        </option>
                        <option th:selected="${orderPage.getNumberOfRows() > 5 && orderPage.getNumberOfRows() <= 10}"
                                value="10">10
                        </option>
                        <option th:selected="${orderPage.getNumberOfRows() > 24}" value="25">25</option>
                    </select>
                    <button type="submit" class="btn btn-link reload-button">Обновить</button>
                    <ul class="pagination">
                        <li th:class="${'page-item ' + (orderPage.getPageNumber() - 1 < 1 ? 'disabled' : '')}">
                            <a class="page-link" th:href="@{/orders(
                               number_of_rows=${orderPage.getNumberOfRows()},
                               page_number=${orderPage.getPageNumber() - 1},
                               sorting=${sorting},
                               asc=${asc})}">Previous</a>
                        </li>
                        <li th:each="pageNumber : ${orderPage.getPagesNumbers()}"
                            th:class="${'page-item ' + (orderPage.getPageNumber() == pageNumber ? 'disabled' : '')}">
                            <a class="page-link"
                               th:href="@{/orders(
                               number_of_rows=${orderPage.getNumberOfRows()},
                               page_number=${pageNumber},
                               sorting=${sorting},
                               asc=${asc})}"
                               th:text="${pageNumber}"></a>
                        </li>
                        <li th:class="${'page-item ' + (orderPage.getPageNumber() + 1 > orderPage.getPagesNumbers().size() ? 'disabled' : '')}">
                            <a class="page-link"
                               th:href="@{/orders(
                               number_of_rows=${orderPage.getNumberOfRows()},
                               page_number=${orderPage.getPageNumber() + 1},
                               sorting=${sorting},
                               asc=${asc})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Добаление нового заказа:</h4>
            </div>
            <div class="card-body">
                <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;"></div>
                <form th:action="@{/orders/create_order(
                number_of_rows=${orderPage.getNumberOfRows()}
                )}" method="post"
                      th:object="${order}">
                    <div class="create_form">
                        <div class="labels">
                            <label> Клиент: </label>
                            <label> Товары: </label>
                        </div>
                        <div class="inputs">
                            <select name="customer" class="form-select" aria-label="Default select example">
                                <option selected>Выберите клиента</option>
                                <option th:each="customer : ${customers}"
                                        th:value="${customer.getId()}"
                                        th:text="${customer.getFullName() + ' ' + customer.getPhoneNumber()}"
                                ></option>
                            </select>
                            <dl class="dropdown">
                                <dt>
                                    <a href="#">
                                        <span class="hida">Товары</span>
                                        <p class="multiSel"></p>
                                    </a>
                                </dt>

                                <dd>
                                    <div class="mutliSelect">
                                        <ul>
                                            <li th:each="product : ${products}">
                                                <input type="checkbox"
                                                       th:value="${product.getId()}"
                                                       th:text="${product.getProductName()}"
                                                       th:title="${product.getProductName()}"
                                                th:name="${'products'}"/>
                                            </li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                            <button type="submit" class="btn btn-primary btn-sm create_button">Добавить заказ
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        $(".dropdown dt a").on('click', function () {
            $(".dropdown dd ul").slideToggle('fast');
        });

        $(".dropdown dd ul li a").on('click', function () {
            $(".dropdown dd ul").hide();
        });

        function getSelectedValue(id) {
            return $("#" + id).find("dt a span.value").html();
        }

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
        });

        $('.mutliSelect input[type="checkbox"]').on('click', function () {

            var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').attr("title"),
                title = $(this).attr("title") + ",";

            if ($(this).is(':checked')) {
                var html = '<span title="' + title + '">' + title + '</span>';
                $('.multiSel').append(html);
                $(".hida").hide();
            } else {
                $('span[title="' + title + '"]').remove();
                var ret = $(".hida");
                $('.dropdown dt a').append(ret);
            }
        });

    </script>

</div>

</body>
</html>