<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <link th:href="@{/css/customers.css}" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="content">
    <div class="container table-wrap">
        <div class="card">
            <div class="card-header">
                <h4>Изменение данных клиента:</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>ФИО</th>
                        <th>Номер телефона</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${customer.getId()}"></td>
                        <td th:text="${customer.getFirstName() + ' ' + customer.getLastName()}"></td>
                        <td th:text="${customer.getPhoneNumber()}"></td>
                        <td>
                            <form th:action="@{/customers/delete_customer/{id}(
                            id=${customer.getId()})}" method="post">
                                <button type="submit" class="btn btn-link">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Изменение данных клиента:</h4>
            </div>
            <div class="card-body">
                <form th:action="@{/customers/update_customer/{id}(
                id=${customer.getId()}
                )}" method="post"
                      th:object="${customer}">
                    <div class="create_form">
                        <div class="labels">
                            <label> Имя: </label>
                            <label> Фамилия: </label>
                            <label> Телефон: </label>
                        </div>
                        <div class="inputs">
                            <input name="firstName" type="text" th:value="${customer.getFirstName()}">
                            <input name="lastName" type="text" th:value="${customer.getLastName()}">
                            <input name="phoneNumber" type="text" th:value="${customer.getPhoneNumber()}">
                            <button type="submit" class="btn btn-primary btn-sm update_button">Изменить товар
                            </button>
                        </div>
                    </div>
                </form>
                <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>