<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <link th:href="@{/css/products.css}" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="content">
    <div class="container table-wrap">
        <div class="card">
            <div class="card-header">
                <h4>Изменение товара:</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${productToUpdate.getId()}"></td>
                        <td th:text="${productToUpdate.getProductName()}"></td>
                        <td th:text="${productToUpdate.getPrice()}"></td>
                        <td>
                            <form th:action="${'/products/delete_product/' + productToUpdate.getId()}" method="post">
                                <button type="submit" class="btn btn-link">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Изменение данных товара:</h4>
            </div>
            <div class="card-body">
                <form th:action="${'/products/update_product/' + productToUpdate.getId()}" method="post">
                    <div class="create_product_form">
                        <div class="labels">
                            <label> Наименование: </label>
                            <label> Цена: </label>
                        </div>
                        <div class="inputs">
                            <input name="productName" type="text" th:value="${productToUpdate.getProductName()}">
                            <input name="price" type="text" th:value="${productToUpdate.getPrice()}">
                            <button type="submit" class="btn btn-primary btn-sm update_product_button">Изменить товар
                            </button>
                        </div>
                    </div>
                </form>
                <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>